/* DIN-700 - latin */
@font-face {
  font-family: "DIN";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/DINPro-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/DINPro-700.eot?#iefix") format("embedded-opentype"), url("./fonts/DINPro-700.woff2") format("woff2"), url("./fonts/DINPro-700.woff") format("woff"), url("./fonts/DINPro-700.ttf") format("truetype"), url("./fonts/DINPro-700.svg#Oswald") format("svg"); /* Legacy iOS */
}
/* DIN-500 - latin */
@font-face {
  font-family: "DIN";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/DINPro-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/DINPro-500.eot?#iefix") format("embedded-opentype"), url("./fonts/DINPro-500.woff2") format("woff2"), url("./fonts/DINPro-500.woff") format("woff"), url("./fonts/DINPro-500.ttf") format("truetype"), url("./fonts/DINPro-500.svg#DIN") format("svg"); /* Legacy iOS */
}
/* Poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Poppins-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/Poppins-300?#iefix") format("embedded-opentype"), url("./fonts/Poppins-300.woff2") format("woff2"), url("./fonts/Poppins-300.woff") format("woff"), url("./fonts/Poppins-300.ttf") format("truetype"), url("./fonts/Poppins-300.svg#Poppins") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

a {
  outline: none;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-style: normal;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #2f293e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s background;
  overflow: hidden;
}
.wrapper .blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 1;
}
.wrapper .web {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: 0.5s opacity;
}
.wrapper .error-web {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: 0.5s opacity;
}
.wrapper .polygon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 403px;
  height: 403px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  mix-blend-mode: luminosity;
  background: linear-gradient(0deg, #090318, #090318);
  transition: 0.3s width, 0.3s height;
}
.wrapper .polygon video {
  opacity: 0;
  width: 630px;
  height: auto;
  transform: rotate(25deg);
  transition: 0.5s opacity;
}
.wrapper .polygon.active {
  width: 585px;
  height: 585px;
}
.wrapper .polygon.active video {
  opacity: 1;
}
.wrapper .preloader {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  transform: translateY(40%);
}
.wrapper .preloader span {
  opacity: 1;
  font-family: "DIN";
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s opacity;
}
.wrapper .preloader .line-container {
  opacity: 1;
  width: 290px;
  height: 7px;
  background: #2f293e;
  transition: 0.5s opacity 0.5s;
}
.wrapper .preloader .line-container .line {
  width: 0%;
  height: 100%;
  background: #d21326;
}
.wrapper .preloader .line-container .line.active {
  width: 100%;
  transition: 2s width;
}
.wrapper .preloader img {
  opacity: 1;
  width: 88px;
  height: auto;
  margin: 37px 0 0 0;
  transition: 0.5s opacity 0.5s;
}
.wrapper .welcome {
  opacity: 0;
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition: 0.3s opacity;
}
.wrapper .welcome img {
  width: 251px;
  height: auto;
}
.wrapper .welcome p {
  width: 290px;
  margin: 94px 0 0 0;
  font-family: "DIN";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper .welcome button {
  margin: 64px 0 0 0;
  width: 290px;
  height: 54px;
  border: none;
  border-radius: 0;
  background: #d21326;
  font-family: "DIN";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  color: #ffffff;
  transition: 0.3s background, 0.3s color;
}
.wrapper .welcome button:hover {
  cursor: pointer;
  background: #ffffff;
  color: #d21326;
}
.wrapper .welcome .pass {
  margin: 33px 0 0 0;
  width: 290px;
  height: 54px;
  opacity: 0.34;
  border: 2px solid #d21326;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DIN";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #d21326;
}
.wrapper .welcome.active {
  display: flex;
  opacity: 1;
}
.wrapper .whitelisted {
  opacity: 0;
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  transition: 0.3s opacity;
}
.wrapper .whitelisted img {
  width: 251px;
  height: auto;
}
.wrapper .whitelisted .gift {
  margin: 23px 0 0 0;
  width: 290px;
  height: 357px;
  position: relative;
  border: 1px solid #a0b6fb;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s opacity;
  z-index: -1;
  display: none;
}
.wrapper .whitelisted .gift h2 {
  font-family: "DIN";
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  z-index: 1;
  color: #ffffff;
}
.wrapper .whitelisted .gift .wallet {
  width: 100%;
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.wrapper .whitelisted .gift .wallet span {
  font-family: "DIN";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
.wrapper .whitelisted .gift .wallet strong {
  font-family: "DIN";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #a0b6fb;
}
.wrapper .whitelisted .gift video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #a0b6fb;
}
.wrapper .whitelisted .share {
  margin: 20px 0 0 0;
  padding: 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 54px;
  background: #da1616;
  opacity: 0;
  transition: 0.5s opacity;
  z-index: -1;
  display: none;
}
.wrapper .whitelisted .share span {
  font-family: "DIN";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.wrapper .whitelisted .share a img {
  width: 20px;
  height: auto;
}
.wrapper .whitelisted p {
  width: 290px;
  margin: 94px 0 0 0;
  font-family: "DIN";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper .whitelisted .instruction {
  margin: 35px 0 0 0;
  opacity: 0;
  display: none;
}
.wrapper .whitelisted .instruction .top-block {
  display: flex;
  gap: 20px;
}
.wrapper .whitelisted .instruction .top-block .instruction-elem {
  display: flex;
  align-items: center;
}
.wrapper .whitelisted .instruction .top-block .instruction-elem span {
  font-family: "DIN";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 10px 0 0;
}
.wrapper .whitelisted .instruction .top-block .instruction-elem p {
  margin: 0;
  width: 150px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
  transform: translateY(9%);
  text-transform: capitalize;
}
.wrapper .whitelisted .instruction .top-block .instruction-elem span {
  font-weight: 700;
}
.wrapper .whitelisted .instruction .top-block .instruction-elem:nth-child(2)::before, .wrapper .whitelisted .instruction .top-block .instruction-elem:nth-child(3)::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #da1616;
  transform: translateY(23%);
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.wrapper .whitelisted .instruction .bottom-block {
  margin: 34px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.wrapper .whitelisted .instruction .bottom-block img {
  width: 76px;
  height: auto;
}
.wrapper .whitelisted .adress {
  position: relative;
  margin: 86px 0 0 0;
  width: 290px;
  height: 54px;
  border: 1px solid #a0b6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DIN";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #a0b6fb;
  padding: 0 26px;
}
.wrapper .whitelisted .adress button {
  padding: 0;
  position: absolute;
  right: 6px;
  top: 11px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background: none;
  display: flex;
  flex-direction: column;
}
.wrapper .whitelisted .adress button span {
  display: block;
  width: 13px;
  height: 1px;
  background: #a0b6fb;
}
.wrapper .whitelisted .adress button span:last-child {
  transform: translateY(-0.5px) rotate(-45deg);
}
.wrapper .whitelisted .adress button span:first-child {
  transform: translateY(0.5px) rotate(45deg);
}
.wrapper .whitelisted .pass {
  margin: 38px 0 0 0;
  width: 290px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DIN";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  background: #a0b6fb;
  color: #ffffff;
  transition: 0.3s background;
}
.wrapper .whitelisted .pass:hover {
  background: #d21326;
}
.wrapper .whitelisted .error-link {
  margin: 20px 0 0 0;
  display: none;
  font-family: "DIN";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #FFFFFF;
}
.wrapper footer {
  opacity: 0;
  padding: 0 0 50px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 3;
  transition: 0.5s opacity;
}
.wrapper footer .social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper footer .footer-info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.wrapper footer .footer-info p {
  margin: 0;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 8px;
  line-height: 8px;
  color: #fafafa;
}
.wrapper.active {
  background: #090318;
}
.wrapper.active .polygon {
  width: 585px;
  height: 585px;
}
.wrapper.active .polygon video {
  opacity: 1;
}
.wrapper.active .preloader span {
  opacity: 0;
}
.wrapper.active .preloader .line-container {
  opacity: 0;
}
.wrapper.active .preloader img {
  opacity: 0;
}
.wrapper.active footer {
  opacity: 1;
}
.wrapper.whitelisted .blur {
  opacity: 0;
}
.wrapper.whitelisted .web {
  opacity: 1;
  z-index: 2;
}
.wrapper.whitelisted::before {
  content: "";
  position: absolute;
  width: 630px;
  height: 630px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  z-index: 3;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.wrapper.whitelisted .polygon {
  z-index: 2;
  opacity: 0.5;
  mix-blend-mode: plus-lighter;
}
.wrapper.whitelisted .whitelisted {
  display: flex;
  opacity: 1;
  z-index: 4;
}
.wrapper.whitelisted .welcome {
  display: none;
}
.wrapper.error .web {
  opacity: 0;
}
.wrapper.error .error-web {
  opacity: 1;
  z-index: 2;
}
.wrapper.error .whitelisted p {
  font-weight: 500;
  width: 585px;
}
.wrapper.error .whitelisted .adress {
  margin: 36px 0 0 0;
}
.wrapper.error .whitelisted .pass {
  background: #d21326;
}
.wrapper.error .whitelisted .pass:hover {
  background: #ffffff;
  color: #d21326;
}
.wrapper.error .whitelisted .instruction {
  display: block;
  opacity: 1;
  z-index: 3;
}
.wrapper.error .whitelisted .error-link {
  display: block;
}
.wrapper.success .polygon video {
  opacity: 0;
  transition: 0.5s opacity;
}
.wrapper.success .text {
  opacity: 0;
  transition: 0.5s opacity;
  display: none;
}
.wrapper.success .adress {
  display: none;
}
.wrapper.success .pass {
  display: none;
}
.wrapper.success .gift {
  opacity: 1;
  z-index: 1;
  display: flex;
}
.wrapper.success .share {
  opacity: 1;
  z-index: 1;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .wrapper .whitelisted {
    width: 293px !important;
  }
  .wrapper .whitelisted p {
    margin: 50px 0 0 0;
    width: 100% !important;
  }
  .wrapper .whitelisted .instruction .top-block {
    flex-direction: column;
  }
  .wrapper .whitelisted .instruction .top-block .instruction-elem:nth-child(1) p {
    width: 105px !important;
  }
  .wrapper .whitelisted .instruction .top-block .instruction-elem:nth-child(1)::before {
    content: "";
    background: #da1616;
    transform: translateY(23%);
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
            clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
  .wrapper .whitelisted .instruction .top-block .instruction-elem span {
    font-size: 16px;
    line-height: 20px;
  }
  .wrapper .whitelisted .instruction .top-block .instruction-elem::before {
    width: 9px !important;
    height: 10px !important;
    margin: 0 10px 0 0;
    transform: translateY(16%) !important;
  }
  .wrapper .whitelisted .instruction .bottom-block {
    margin: 0;
    position: absolute;
    top: 258px;
    right: 0;
  }
  .wrapper .whitelisted .instruction .bottom-block img {
    width: 59px;
  }
  .wrapper footer {
    padding: 0 0 35px 0;
  }
  .wrapper footer .footer-info {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 240px;
    gap: 0;
  }
  .wrapper footer .footer-info p:nth-child(1) {
    margin: 10px 0 0 0;
  }
  .wrapper footer .footer-info p:nth-child(2) {
    order: -1;
  }
  .wrapper footer .footer-info p:nth-child(3) {
    order: -1;
  }
  .wrapper footer .footer-info p:nth-child(4) {
    margin: 10px 0 0 0;
  }
}
@media only screen and (max-height: 844px) {
  .wrapper {
    padding: 35px 0 0;
    flex-direction: column;
  }
  .wrapper .preloader {
    top: 50%;
    transform: translateY(-50%);
  }
  .wrapper .welcome {
    margin-top: auto;
  }
  .wrapper .welcome p {
    margin: 30px 0 0 0;
  }
  .wrapper .welcome button {
    margin: 30px 0 0 0;
  }
  .wrapper .whitelisted {
    margin-top: auto;
  }
  .wrapper .whitelisted p {
    margin: 30px 0 0 0;
  }
  .wrapper .whitelisted .pass {
    margin: 30px 0 0 0;
  }
  .wrapper .whitelisted .instruction {
    margin: 30px 0 0 0;
  }
  .wrapper .whitelisted .instruction .bottom-block {
    top: 230px;
  }
  .wrapper .whitelisted .adress {
    margin: 30px 0 0 0;
  }
  .wrapper footer {
    position: static;
    gap: 10px;
    margin-top: auto;
  }
}/*# sourceMappingURL=style.css.map */